*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.arrivals{
    color:  black;
    font-size: 55px;
    margin-left: 45%;
    margin-top: 5%;
}
.button{
    width:500px;
    height: 65px;
display: flex;
margin-left: 40%;
margin-top: 2%;
}
.btn{
    width: 190px;
    height: 55px;
    font-size: 12px;
    color: black;
}
.product{
    width: 290px;
    height: 380px;
margin-left: 10%;
    
}
.cards{
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    margin-top: 2%;
}
.product:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.cart{
    color:  white;
    border: 1px solid white;
    background-color: white;
    width: 290px;
    height: 45px;
   
}
.cart:hover{
background-color: brown;
}
